<div class="main-frame font">
  <div class="specific-machine material-no">
    <input
      class="search-wuh"
      [formControl]="formControl1"
      type="text"
      placeholder="Enter Equipment Number..."
    />
    <div style="margin-top: 7px">
      <i
        (click)="singleMachineSearch()"
        class="search-btn fas fa-search"
        style="cursor: pointer"
      ></i>
    </div>
  </div>
  <ng-container
    *ngIf="
      (response1 && response1.length !== 0) ||
        (response3 && response3.length !== 0);
      else noDatAvailable
    "
    ;
  >
    <div class="table-container-1">
      <h1 class="label">Specific Machine</h1>
      <div class="excel-table" *ngIf="response1 && response1.length !== 0">
        <app-table [tableData]="response1"></app-table>
      </div>
    </div>

    <!-- <div class="top-nav">
      <div class="material-no">
        <input class="search-wuh" [formControl]="formControl3"  type="number" placeholder="Material no."/>
        <button class="btn-wuh" type="click" (click)="submit()"> Fetch details</button>
      </div>
      <div class="filters">
        <checkbox [text]="'All Equipment No.'" [checked]="cb1" (checkedChange)="allMachines()"></checkbox>
        <checkbox [text]="'Specific Equipment No.'" [checked]="cb2" (checkedChange)="specificMachine()"></checkbox>
      </div>
    </div> -->
    <!-- Search by single equipment no.
    <input class="search-wuh" [formControl]="formControl2" type="string" placeholder="1122"/> -->
    <!-- <div> Search by Material no.</div> -->

    <!-- <div class="container1 excel-table" *ngIf="response1">
      <h1>Varex excel</h1>
      <app-table [tableData]="response2"></app-table>
    </div>
    <br>
    <h1 *ngIf="listEqs">Eq's List</h1>
    {{listEqs}} -->

    <div class="table-container">
      <h1 class="label">Matching Excel</h1>
      <div class="dropdown-container">
        <select
          class="dropdown"
          [(ngModel)]="selectedR"
          (change)="onSelectChange()"
        >
          <option [value]="'all'">sps - allgemein</option>
          <option *ngFor="let item of rDropdown" [value]="item">
            {{ item }}
          </option>
        </select>

        <select
          class="dropdown"
          [(ngModel)]="selectedS"
          (change)="onSelectChange()"
        >
          <option [value]="'all'">sps - extruder</option>
          <option *ngFor="let item of sDropdown" [value]="item">
            {{ item }}
          </option>
        </select>

        <select
          class="dropdown"
          [(ngModel)]="selectedT"
          (change)="onSelectChange()"
        >
          <option [value]="'all'">sps - blaskopf</option>
          <option *ngFor="let item of tDropdown" [value]="item">
            {{ item }}
          </option>
        </select>

        <select
          class="dropdown"
          [(ngModel)]="selectedU"
          (change)="onSelectChange()"
        >
          <option [value]="'all'">krob</option>
          <option *ngFor="let item of uDropdown" [value]="item">
            {{ item }}
          </option>
        </select>

        <select
          class="dropdown"
          [(ngModel)]="selectedV"
          (change)="onSelectChange()"
        >
          <option [value]="'all'">abzug</option>
          <option *ngFor="let item of vDropdown" [value]="item">
            {{ item }}
          </option>
        </select>
        <div class="reset-button" (click)="resetFilters()">Reset Filters</div>
      </div>
      <div
        class="excel-table"
        *ngIf="filteredResponse3 && filteredResponse3.length !== 0"
      >
        <app-table
          [tableData]="filteredResponse3"
          [comparisonTable]="response1[0]"
        ></app-table>
      </div>
    </div>
  </ng-container>
</div>
<ng-template #noDatAvailable>
  <section class="noDataSection">
    Please Enter Equipment Number to see the Details...
  </section>
</ng-template>
